@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --clr-piction-blue-main: #2ec8ec;
  --clr-dark-bg: #eeeeee;
  --clr-dark-bg: #e9e9e9;
  --clr-white: #ffffff;
  --clr-ink-primary: #034bf1;
  --clr-top-icon: #1fabcb;
  --clr-curious-blue: #2a93d5;
  --clr-primary-dark: #125488;
  --clr-dark-blue: #021a40;
  --clr-orange: #ff6a00;
  --clr-light-primary: #2565ae;
  --clr-text: #323232;
  --gray: #a9a9a9;
  --gray-dark: #343a40;
  --clr-dark: #1b1b1b;
  --primary-clr: #3742fa;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
  margin: 0;
}

h1 {
  font-size: 2.25em;
}

p {
  font-size: 1em;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  max-height: 9999px;
  display: block;
  background: #fff;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1320px;
}
#wrapper {
  background: #fff;
  position: relative;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.cta-policy {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #113763;
  color: #fff;
  gap: 16px;
}

.cta-policy > i {
  font-size: 28px;
}
.cta-policy > a {
  padding: 9px 12px;
  font-weight: 600;
  background: #fff;
  border-radius: 6px;
  color: var(--clr-dark-blue);
  transition: 0.4s ease;
}
.cta-policy > a:hover {
  background: var(--clr-piction-blue-main);
  border-radius: 6px;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .cta-policy {
    display: none;
  }
}

#header {
  position: relative;
}

.header-top {
  text-align: right;
  margin-top: 1.125em;
}

.contact-wrapper {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 991px) {
  .contact-wrapper {
    display: none;
  }
}

@media (min-width: 991px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-toggle span {
  font-weight: 600;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 12px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle.toggle-color span {
  color: var(--primary);
}

.navbar-toggle.toggle-color span.fa-xmark {
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  #header .navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin: 21px 0 21px 55px;
    border: 0;
  }
}

.phone-icon {
  /* background: var(--clr-top-icon); */
  width: 40px;
  height: 40px;
  margin: 2px 0em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.phone-icon > i {
  color: var(--clr-primary-dark);
  font-size: 2em;
}

.phone-detail > h4 {
  font-size: 1.375em;
  font-weight: 700;
  color: var(--clr-primary-dark);
  font-family: "Poppins", sans-serif;
}

.phone-detail > span {
  font-size: 0.875em;
  font-weight: 600;
  color: #000;
}

@media only screen and (max-width: 1200px) {
  .header-top {
    margin-top: 1em;
  }
  .phone-icon {
    width: 32px;
    height: 32px;
    margin: 6px 0.635em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .phone-icon > i {
    color: var(--clr-white);
    font-size: 1.125em;
  }
  .phone-detail > h4 {
    font-size: 1.125em;
  }
  .phone-detail > span {
    font-size: 0.75em;
  }
}

#header .col-lg-3 {
  width: 18%;
}
#header .col-lg-9 {
  width: 80%;
}
.logo-container {
  display: block;
}

.logo-wrap > a {
  display: inline-block;
  width: 200px;
  height: 98px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-top: 14px;
}

.logo-wrap > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .logo-wrap > a {
    width: 179px;
    height: 87px;
  }
}
@media only screen and (max-width: 1200px) {
  .logo-container {
    padding-left: 4px;
  }
}

@media (max-width: 991px) {
  .logo-wrap > a {
    width: 128px;
    height: 63px;
    margin: 0.5em 0;
  }
}

/*------------------------------
NAVBAR START
---------------------------------------*/

@media (min-width: 991px) {
  .my-navbar {
    background: #fff;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 991px) {
  .nav-list {
    position: absolute;
    top: 100%;
    z-index: 1;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e9e9e9;
  }
}

@media (min-width: 991px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.nav-list > li > a {
  /* font: 700 15px/1 "Roboto", sans-serif; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  letter-spacing: 0.2px;
  color: var(--dark-clr);
  font-weight: 700;
  font-size: 15px;
  transition: 0.3s ease all;
}

@media only screen and (max-width: 1229px) {
  .nav-list > li > a {
    padding: 12px;
    font-size: 14.5px;
  }
}

.nav-list > li.active > a {
  color: var(--clr-piction-blue-main);
}

.nav-list > li > a > i {
  font-size: 20px;
  /* margin-left: 4px; */
  /* color: var(--clr-piction-blue-main); */
  transition: 0.3s ease all;
}
.nav-list > li > a:hover,
.nav-list > li:hover > a {
  color: var(--clr-piction-blue-main);
}

.nav-list > li > a:hover i,
.nav-list > li:hover > a i {
  transform: rotate(-15deg);
  color: var(--clr-piction-blue-main);
}

.dropdown {
  position: unset;
}
.dropdown-menu {
  display: block;
}

@media (max-width: 991px) {
  .dropdown-menu {
    position: relative;
  }
}

.mega-menu > .dropdown {
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.drop-mega > .dropdown-menu > li:last-child {
  border-bottom: none;
}

@media (max-width: 991px) {
  .mega-menu > .dropdown > .dropdown-menu {
    display: none;
  }

  .mega-menu > .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (min-width: 991px) {
  .mega-menu > .dropdown > .dropdown-menu {
    position: absolute;
    top: 98%;
    z-index: 1;
    max-height: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5em 0;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    border-radius: 6px;
  }

  .mega-menu > .dropdown:hover .dropdown-menu {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }

  .drop-mega > .dropdown-menu {
    left: 0;
    right: 0;
    padding: 0 7px;
  }
}

/* .drop-mega > .dropdown-menu {
  display: none;
} */
.nav-list > li.active .dropdown-menu {
  display: block;
}

.drop-mega:hover > .dropdown-menu {
  display: block;
}
.drop-mega > .dropdown-menu {
  margin: 0 auto;
  border: none;
}
.container,
.drop-mega > .dropdown-menu {
  max-width: 1100px;
}

.mega-menu .drop-mega.drop-active > .dropdown-menu {
  display: block;
}

@media (min-width: 991px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    padding: 8px 6px;
    position: absolute;
    top: 0;
    left: 220px;
    right: 0;
  }
}

.drop-mega > .dropdown-menu > li {
  border-right: 1px solid #d8d8d8;
}
@media (min-width: 991px) {
  .drop-mega > .dropdown-menu > li {
    width: 240px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .drop-mega > .dropdown-menu > li {
    width: 260px;
    display: flex;
  }
}
.drop-mega > .dropdown-menu > li > a {
  display: block;
  font-weight: 600;
  padding: 12px 14px;
  width: 100%;
}
.drop-mega > .dropdown-menu > li > a:hover {
  color: var(--clr-curious-blue);
}

@media only screen and (min-width: 991px) {
  .drop-mega > .dropdown-menu > li.level-active > a {
    color: var(--clr-curious-blue);
    border-right: 2px solid var(--clr-curious-blue);
  }
}

@media (max-width: 992px) {
  .drop-mega > .dropdown-menu > li > a {
    font-size: 15px;
    padding: 12px 14px;
  }
}

.drop-mega > .dropdown-menu > li > .mega-nav-wrapper .dropdown-menu {
  display: none;
}
@media (min-width: 991px) {
  .drop-mega
    > .dropdown-menu
    > li.level-active
    > .mega-nav-wrapper
    .dropdown-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) (2);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px 18px;
    max-height: 432px;
    overflow-x: auto;
    border: none;
    margin-top: 5px;
  }
}
@media (min-width: 991px) {
  .drop-mega
    > .dropdown-menu
    > li.level-active
    > .mega-nav-wrapper
    .dropdown-menu {
    max-height: 470px;
    overflow-x: auto;
  }
}

@media (max-width: 991px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .drop-mega
    > .dropdown-menu
    > li.level-active
    > .mega-nav-wrapper
    .dropdown-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) (1);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px 18px;
    border: none;
  }
}

@media (min-width: 991px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    padding: 8px 6px;
    position: absolute;
    top: 0;
    left: 270px;
    right: 0;
  }
}

@media (min-width: 992px) {
  .drop-mega > .dropdown-menu .mega-nav-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .drop-mega > .dropdown-menu .mega-nav-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  .drop-mega > .dropdown-menu .mega-nav-wrapper::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    left: 280px;
  }
}

@media (min-width: 1200px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    left: 290px;
  }
}

.drop-mega > .dropdown-menu .dropdown-menu > li {
  width: 100%;
}
@media (min-width: 991px) {
  .drop-mega > .dropdown-menu .dropdown-menu > li {
    padding: 6px 5px;
  }
  .drop-mega > .dropdown-menu .dropdown-menu > li > a {
    color: var(--clr-dark);
    font-weight: 500;
  }
  .drop-mega > .dropdown-menu .dropdown-menu > li > a:hover {
    color: #0275d8;
    text-decoration: underline;
  }
}

/* @media (min-width: 992px) {
  .drop-mega > .dropdown-menu .dropdown-menu > li {
    width: 33.33%;
  }
} */

@media (max-width: 991px) {
  nav.my-navbar {
    display: none;
  }
  nav.my-navbar.show-navbar {
    display: block;
  }
}

/*================================================
Search Bar 
==================================================*/

.search-toggler {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #2ec8ec;
  color: #fff;
  background: var(--clr-piction-blue-main);
  font-size: 18px;
  transition: 0.3s ease all;
}
.search-toggler:hover,
.search-toggler.active {
  color: var(--clr-piction-blue-main);
  background: var(--clr-white);
  border: 2px solid #2ec8ec;
}

@media only screen and (max-width: 1200px) {
  .cta-search {
    display: none;
  }
}

.search-toggler:hover {
  cursor: pointer;
}

.input-box > form {
  height: 100%;
}

.input-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
  height: 56px;
  max-width: 1100px;
  width: 100%;
  background: #fff;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 24px;
  color: #707070;
}
.input-box form input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 6px;
  background-color: var(--clr-curious-blue);
  cursor: pointer;
}
.input-box .button:hover {
  background-color: var(--clr-piction-blue-main);
}

.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

.hidden-search-bar {
  display: none;
}

/**********---------------------
 Slider starts
  ------------------**********/

.mySwiper {
  height: 600px;
  width: 100%;
  margin-bottom: 32px;
}

.splide {
  position: relative;
}

.mySwiper .splide__list .splide__slide {
  width: 100%;
  height: 100%;
}
.mySwiper .splide__track,
.mySwiper .splide__slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.mySwiper .splide__list .splide__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: leaves 10s ease-in-out infinite alternate;
}
@keyframes leaves {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.mySwiper .splide__list .splide__slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.16);
}
.mySwiper .splide__list .splide__slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}
.image-data span {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.image-data h2 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-data a.trip-detail-btn {
  display: inline-block;
  padding: 9px 10px;
  border-radius: 6px;
  color: var(--dark);
  margin-top: 4px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
  /* backdrop-filter: blur(1px); */
}

.image-data a.trip-detail-btn i {
  font-size: 13.5px;
  margin-left: 1px;
  transition: all 0.3s ease-in-out;
}
.image-data a.trip-detail-btn:hover {
  box-shadow: 0 0 5px 1px #ffffff;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 1rem;
  width: 1rem;
}

@media only screen and (max-width: 991px) {
  .splide__arrow {
    display: none;
  }
}

.mySwiper .splide__arrows button {
  color: #fff;
  font-size: 32px;
}

.splide__pagination {
  display: none;
}

@media only screen and (max-width: 1369px) {
  .mySwiper {
    height: 550px;
  }

  .image-data span {
    font-size: 16px;
  }
  .image-data h2 {
    font-size: 34px;
  }

  .image-data a.trip-detail-btn {
    display: inline-block;
    padding: 8px 9px;
    border-radius: 6px;
    color: var(--dark);
    margin-top: 4px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
  }

  .image-data a.trip-detail-btn i {
    font-size: 11px;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 1121px) {
  .mySwiper {
    height: 480px;
  }
}
@media only screen and (max-width: 991px) {
  .mySwiper {
    height: 420px;
  }
  .image-data span {
    font-size: 15px;
  }
  .image-data h2 {
    font-size: 34px;
  }

  .image-data a.trip-detail-btn {
    display: inline-block;
    padding: 7px 8px;
    border-radius: 6px;
    color: var(--dark);
    margin-top: 4px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
  }

  .image-data a.trip-detail-btn i {
    font-size: 11px;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 769px) {
  .mySwiper {
    height: 360px;
  }
  .image-data span {
    font-size: 15px;
  }
  .image-data h2 {
    font-size: 24px;
  }

  .image-data a.trip-detail-btn {
    display: inline-block;
    padding: 7px 8px;
    border-radius: 5px;
    color: var(--dark);
    margin-top: 3px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
    font-size: 14px;
  }

  .image-data a.trip-detail-btn i {
    font-size: 10px;
    margin-left: 2px;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 600px) {
  .mySwiper {
    height: 320px;
  }
}
@media only screen and (min-width: 1369px) {
  .mySwiper {
    height: 620px;
  }
}

@media only screen and (min-width: 1551px) {
  .mySwiper {
    height: 725px;
  }
}

/*------------- Slider End ------------------*/
